@media screen and (min-width: $mobile) {
  body.post-admin_index {
    @include header-navigation;

    .content-container {
      flex-direction: column;
    }

    nav {
      .blog-title {
        @include posts-navigation-title;
        display: inline;
      }
    }

    margin: 0;
    p.alert {
      display: none;
    }

    main {
      padding: 1.5em;
      color: $eggshell-white; 
      max-width: none;

      h2 {
        font-family: $raleway-med, sans-serif;
      }

      .post-actions {
        display: flex;
        justify-content: space-around;
        background-color: $transparent-black-dark;

        .new-post, .post-index {
          font-family: $raleway-med, sans-serif; 
          font-size: 1.2em;
          padding: 1.5em;
          font-weight: bold;
          // color: $cerulean;
          &:link, &:active, &:visited, &:hover {
            color: $cerulean; 
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
      

      table.posts {
        padding: 0.8em;
        background-color: $transparent-black-dark;

        th, td {
          padding: 1em;
        }

        th {
          font-family: $raleway-med, sans-serif;
          color: $salmon;
        }

        td {
          font-family: $arial-black, sans-serif;
        }

        td.edit, td.delete {
          a {
            &:link, &:active, &:visited, &:hover {
              color: $cerulean;
            }
          } 
        }

        img {
          width: 2.5em;
        }
      }
    }

    tr.link-post {
      background-color: $dark-gray;
    }
  }
}
