@media screen and (min-width: $mobile) {
  body.post-admin_index {
    @include header-navigation;

    nav {
      @include posts-navigation;
      flex-direction: row;
      justify-content: space-between;

      .blog-title {
        @include posts-navigation-title;
        display: inline;
      }
    }

    margin: 0;
    p.alert {
      display: none;
    }

    main {
      padding: 1.5em;
      color: $eggshell-white; 
      h2 {
        font-family: $raleway-med, sans-serif;
      }

      .new-post, .post-index {
        font-family: $raleway-med, sans-serif; 
        font-size: 1.2em;
        padding: 1.5em;
        background-color: $transparent-black-dark;
        a {
          &:link, &:active, &:visited, &:hover {
            color: $cerulean; 
          }
        }
      }

      .post-index {
        padding: 0 0 1.5em 1.5em;
      }

      table.posts {
        padding: 0.8em;
        background-color: $transparent-black-dark;
        th {
          font-family: $raleway-med, sans-serif;
        }

        td {
          font-family: $arial-black, sans-serif;
        }

        td.edit, td.delete {
          a {
            &:link, &:active, &:visited, &:hover {
              color: $cerulean;
            }
          } 
        }

        img {
          width: 2.5em;
        }
      }
    }

    tr.link-post {
      background-color: $dark-gray;
    }
  }
}
