@media screen and (max-width: $desktop) {
  body.page-index {
    @include header-navigation;
  }
}
@media screen and (min-width: $mobile){
  body.page-index {

    .hero-container {
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 50vh;
      min-height: 24em;
      padding: 0 0em;
    }

    .hero {
      color: $eggshell-white;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $transparent-black-light;
      padding: 0 0.5em;

      p.name {
        font-family: $arial-black, sans-serif;
        font-size: 2.88em;
        margin: 0.25em 0 0 0;
      }

      p.title {
        font-family: $raleway-semibold, sans-serif;
        margin: 0 0 0.55em 0;
        font-size: 1.2em;
      }
    }

    .about-me-container {
      padding: 1.5em 1em;
      min-height: 40em;
      height: 80vh;
      background-color: $off-white;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .about-me {
      color: $dark-gray;
      .title, .location {
        font-family: $raleway-regular, sans-serif;
        font-size: 1.05em;
      }

      .name {
        font-family: $arial-black, sans-serif;
        margin-bottom: 0;
        font-size: 1.05em;
      }

      .title {
        margin-top: 0.1em;
        margin-bottom: 0;
      }

      .location {
        margin-top: 0.1em;
      }

      i.chitown-flag {
        display: inline-block;
        background: url("/images/chitown.svg") no-repeat;
        background-size: contain;
        height: 0.8em;
        width: 1.7em;
        margin-left: 0.3em;
        position: relative;
        top: 0.09em;
      }

      article {
        font-family: $raleway-light, sans-serif;
      }

      a {
        &:link, &:visited, &:hover, &:active {
          text-decoration: none;
          color: $dark-gray;
          font-family: $raleway-med;
        }

        img.hashrocket-logo, img.openai-logo, img.phoenix-logo, img.cmma-logo, img.hp-logo {
          width: 1em;
          position: relative;
          top: 0.09em;
        }

        img.hp-logo {
          top: 0.13em;
        }
      }
      .footnote {
        // margin-top: 3.5em;
        font-size: 0.7em;
      }
    }

    .work {
      padding-top: 1.5em;
      padding-bottom: 1.5em;
      background-color: $off-white;
      section.resume-github {
        display: flex;
        justify-content: center;
      }

      div.github, div.resume {
        margin-left: 1em;
        margin-right: 1em;
      }

      i.github, i.resume {
        display: inline-block;
        height: 3.5em;
        width: 3.5em;
      }

      i.github {
        background: url("/images/github_icon.svg") no-repeat;
        background-size: contain;
      }

      i.resume {
        background: url("/images/resume_icon.svg") no-repeat;
        background-size: contain;
      }

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-flow: wrap row;
        justify-content: center;
      }

      .blog-posts li {
        position: relative;
        display: inline-block;
        margin-top: 2em;
        margin-bottom: 2em;
      }

      .post-image {
        width: 21em;
        height: 14em;
        background: no-repeat center;
        background-size: contain;
      }

      .title {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5em;
        position: absolute;
        bottom: -1em;
        right: 0.5em;
        font-family: $arial-black, sans-serif;
        width: 19em;
        min-height: 5em;
        background: $transparent-black-dark;
        a {
          text-decoration: none;
          display: block;
          text-align: center;
        }
        a:link, a:visited, a:hover, a:active {
          color: $cerulean;
        }
      }

      .post-index-link-container {
        display: flex;
        justify-content: center;
        margin-top: 0.8em;

        button {
          font-family: $arial-black, sans-serif;
          background-color: $med-gray;
          color: $cerulean;
        }
      }
    }

    .contact {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $off-white;
      padding: 1.5em 1em 0em 1em;
      height: 100vh;
      min-height: 40em;
      font-family: $arial-black, sans-serif;

      header {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1, .contact-intro {
          text-align: center;
        }

        h1 {
          margin: 0;
          color: $cerulean;
          font-size: 2.5em;
        }

        .contact-intro {
          color: $med-gray;
          margin-top: 0.2em;
          margin-bottom: 15px;
        }
      }

      article {
        width: 75%;
      }

      form {
        button {
          background-color: $cerulean;
          color: $med-gray;
          font-family: $arial-black, sans-serif;
        }
      }
    }

    footer {
      padding-top: 1em;
      display: flex;
      flex-direction: column;
      align-items: center;

      hr {
        width: 70%;
      }

      p.photo-credit {
       font-family: $raleway-semibold;
       color: $eggshell-white;
       a {
         text-decoration: none;
         &:link, &:visited, &:hover, &:active {
            color: $cerulean;
         }
       }
      }
    }
  }
}

