@media screen and (min-width: $desktop){
  body.post-show {
    @include desktop-posts-navigation; 
    main {
      padding-right: 3em;
      max-width: 75%;

      .post {
        width: 80%;
      }
    }
  }
}
