@media screen and (min-width: $mobile){
  body.post-show {
    @include header-navigation;
    @include back-to-index-link;
    @include paginated-posts-nav;
  
    background-color: $off-white;
    background-image: none;

    main {
      flex-grow: 1;
      align-items: stretch;

      .post-show-content {
        display: flex;
        flex-direction: column;
        align-items: center
      }
    }

    nav {
      @include posts-navigation;
      .blog-title {
        @include posts-navigation-title;
        display: inline;
      }
    }
    
    

    .post {
      height: 100vh;
      width: 95%;
      padding: $post-content-padding;
      header {
        @include post-image-header(12em);
      }

      h2.title {
        @include post-image-title(1.3em);
      }

      .publish_date {
        font-family: $raleway-semibold, sans-serif;
        padding: 0.6em;
      }

      .body {
        font-family: $raleway-light, sans-serif;
        padding-left: 1.5em; 
        padding-right: 1.5em; 

        iframe#ytplayer {
          display: block;
          margin: 1em auto;
        }
        
        a {
          &:active, &:visited, &:link, &:hover {
            color: $dark-gray;
          }
        }

        img {
          max-width: 100%;
        }
      }

      .description {
        padding-left: 1em;
        padding-right: 1em;
        font-family: $arial-black, sans-serif;
      }
    }    
  }
}
