@media screen and (min-width: $mobile){
  body.post-show {
    @include header-navigation;
    background-color: $off-white;
    background-image: none;

    .container {
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }

    nav {
      @include top-navigation;
      background-size: auto 43em;
      flex-direction: row;
      justify-content: space-between;

      .blog-title {
        @include top-navigation-title;
        display: inline;
      }
    }
    
    main {
      align-items: center;
      margin: 1em;
    }
    .post {
      width: 95%;
      padding: $post-content-padding;
      header {
        @include post-image-header(12em);
      }

      h2.title {
        @include post-image-title(1.3em);
      }

      .body {
        font-family: $raleway-light, sans-serif;
        padding-left: 1.5em; 
        padding-right: 1.5em; 
        
        a {
          &:active, &:visited, &:link {
            color: $dark-gray;
          }
        }

        img {
          max-width: 100%;
        }
      }

      .description {
        padding-left: 1em;
        padding-right: 1em;
        font-family: $arial-black, sans-serif;
      }
    }    
  }
}
