@media screen and (min-width: $tablet) {
 body.post-show {
   main {
    .post-show-content {
      .back-to-index {
        padding-left: 1.5em;
      }
      
      .post {
        width: 75%;
        .body {
          line-height: 1.5;
        }
      }
    }
    
   }
 }
}
