@media screen and (min-width: $tablet) {
 body.post-show {
  nav {
    background-size: auto 85em;
  }

  .post {
    width: 85%;
    .body {
      font-size: 1.3em;
      line-height: 1.5;
    }
  }
 }
}
