$eggshell-white: #f7f4f4;
$off-white: #fcfcfc;
$cerulean: #69bef9;
$transparent-black-light: rgba(0, 0, 0, 0.3);  
$transparent-black-dark: rgba(0, 0, 0, 0.6);  
$transparent-button: rgba(8, 8, 8, 0.7);
$dark-gray: #3d3d3d;
$light-gray: #f9f9f9;
$apple-red: #d81c1c;
