@media screen and (min-width: $desktop){
  body {
    background: url("/images/tk_servers.jpg") no-repeat 50% 10% fixed;
    background-size: cover;
    margin: 0;
  }

  .content-container {
    display: flex;
  }
}

