@mixin header-navigation {
  nav {
    display: flex;
    flex-grow: 1;

    .blog-title {
      display: none;
    }

    .nav-list {
      @include navigation-list;
      display: flex;
      flex-direction: row;

      li {
        @include navigation-list-item;
      }
      .binary {
        display: none;
      }
    }
  }
}

@mixin desktop-posts-navigation {
  nav {
    padding-top: 3em;
    display: flex;
    min-width: 23em;
    width: 30%;

    .title-nav-container {
      position: fixed;
      left: 2%;
    }

    ul.nav-list {
      opacity: 1;
      display: flex;
      flex-direction: row;

      a {
        transition: 0.8s;
        -webkit-transition: 0.8s;
        -ms-transition: 0.8s;
        display: block;
        padding: 0.5em 0em;
      }

      li {
        flex-grow: 1;
        .text {
          display: block;
          opacity: 1;
        }

        &:hover {
          background-color: rgba(0,0,0,0);

          a {
            &:link, &:visited, &:active, &:hover {
              color: $eggshell-white;
            }
          }
        }

        a {
          &:link, &:visited, &:active, &:hover {
            text-decoration: none;
          }

          &:link, &:visited, &:active {
            color: $dark-gray;
          }
        }
      }
    }

    .blog-title {
      font-size: 2.1em;
      line-height: 1.1em;
      padding: 0;
      margin-bottom: 0.1em;
    }
  }
}

@mixin posts-mobile-nav {
  @media screen and (max-width: $desktop){
    nav {
      @include posts-navigation;
      ul {
        @include navigation-list;
        li {
          @include navigation-list-item;
        }
      }

      .blog-title {
        @include posts-navigation-title;
      }
    }
  }
}

@mixin post-image-header($height) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: $height;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 1.5em;
  border: 1px solid $eggshell-white;
  border-radius: 2px;
}

@mixin post-image-title($font-size) {
  height: 100%;
  background-color: $transparent-black-dark;
  border: 0.5px solid $dark-gray;
  margin: 0;
  font-size: $font-size;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $eggshell-white;
  font-family: $arial-black, sans-serif;
  text-align: center;
}

@mixin posts-navigation {
  display: flex;
  flex-direction: column;
  color: $eggshell-white;
}

@mixin navigation-list {
  display: flex;
  padding: 0;
  font-family: $raleway-semibold, sans-serif;
  list-style-type: none;
  margin-bottom: 0;
}

@mixin navigation-list-item {
  color: $dark-gray;
  background-color: $eggshell-white;
  text-align: center;
  font-size: 1.2em;
  flex-grow: 1;

  a {
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -ms-transition: 0.8s;
    display: block;
    padding: 0.5em 0em;

    &:link, &:visited, &:active, &:hover {
      text-decoration: none;
    }

    &:link, &:visited, &:active {
      color: $dark-gray;
    }
  }

  &:hover {
    color: $eggshell-white;
    background-color: rgba(0,0,0,0);

    a {
      &:link, &:visited, &:active, &:hover {
        color: $eggshell-white;
      }
    }
  }
}

@mixin posts-navigation-title {
  font-family: $arial-black, sans-serif;
  font-size: 2.1em;
  display: flex;
  justify-content: center;
  padding: 0.4em 0em;

  a {
    display: inline-block;
  }

  a:visited, a:link, a:hover, a:link {
    color: $eggshell-white;
    text-decoration: none;
  }
}

@mixin post-form {
  main {
    h2.section-title, h3.section-title {
      color: $eggshell-white;
      font-family: $raleway-med, sans-serif;
      padding: 1em;
      background-color: $transparent-black-light;
      text-align: center;
    }
    justify-content: center;
    align-items: center;
    padding: 1em;
  }

  .post-form {
    background-color: $transparent-black-light;
    padding: 0.5em;
    
    .help-block {
      color: $apple-red;
      display: inline-block;
      font-family: $raleway-semibold, sans-serif;
      padding: 0.3em 1em;
      background-color: $transparent-black-dark;
    }

    label {
      font-family: $raleway-semibold, sans-serif;
      color: $eggshell-white;
      background-color: $transparent-black-dark;
      padding: 0.3em 1em;
      display: inline-block;
      margin-top: 0.9em;
    }

    .image-url {
      background-color: white;
    }

    .image-preview {
      display: inline-block;
      width: 3.5em;
      vertical-align: bottom;
      margin-left: 0.5em;
    }
  }

  .save-button {
    font-family: $raleway-semibold, sans-serif; 
    font-size: 1.2em;
    border-radius: 0.1em;
    padding: 0.3em 1em;
    cursor: pointer;
    background-color: $transparent-black-dark;
    color: $cerulean;

    &:hover {
      background-color: $eggshell-white;
    }
  }
}

@mixin preview-post {
  .preview-post-button {
    cursor: pointer;
    margin-top: 9em;
    color: $cerulean;
    font-family: $raleway-med;
    border: 1px $eggshell-white solid;
    border-radius: 0.2em;
    font-size: 1.2em;
    padding: 0.3em 1em;
    background-color: $transparent-black-dark
  }

  .preview-post-button:hover {
    background-color: $eggshell-white;
  }

  .preview-post {
    background-color: $off-white;
    padding: 1em;
    font-family: $raleway-med, sans-serif;
    margin-top: 2em;
  }
}

@mixin post-form-page {
  h2.new-post {
    font-family: $raleway-med, sans-serif;
    color: $eggshell-white;
    background-color: $transparent-black-light;
    padding: 0.8em;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button.delete-post {
    display: block; 
    align-self: flex-end;
    font-family: $raleway-semibold, sans-serif; 
    font-size: 1.2em;
    border-radius: 0.1em;
    padding: 0.3em 1em;
    cursor: pointer;
    background-color: $transparent-black-dark;
    margin-right: 10em;
    margin-bottom: 0.5em; 
    a {
      color: $apple-red;
      text-decoration: none;
    }

    &:hover {
      background-color: $eggshell-white;
    }
  }
}

@mixin paginated-posts-nav {
 .pagination {
   display: flex;
   justify-content: center;
   background-color: $off-white;

   .page-numbers {
     padding: 1em 0 1em 0;
   }

   ul {
     font-family: $raleway-semibold, sans-serif;
     list-style-type: none;
     padding-left: 0;
   }

  li {
    font-size: 1.5em;
    display: inline-block;
    margin: 0 0.6em;
  }

   li {
     a {
        &:link, &:hover, &:visited {
          color: $dark-gray;
          text-decoration: none;
       }

       &.active {
        color: $cerulean;
       }
     }
   }
 } 
}

@mixin back-to-index-link {
  .back-to-index {
    font-family: $raleway-semibold, sans-serif;
    font-size: 1.2em;
    padding: 0.5em;
    width: 100%;

    a {
      &:link, &:active, &:visited {
        color: $cerulean;
      }
      &:hover {
        color: $dark-gray;
      }
      span.icon {
        color: $dark-gray;
      }
    }
  }
} 

@mixin footer {
  background-color: $transparent-black-light;
  padding: 1.5rem;
  p.photo-credit {
    font-family: $raleway-semibold;
    color: $eggshell-white;
    a {
      text-decoration: none;
      &:link, &:visited, &:active {
          color: $cerulean;
      }
      &:hover {
          color: $eggshell-white;
      }
    }
  }
}