@font-face {
    font-family: "Raleway-Medium";
    src:
        url("/fonts/raleway/Raleway-Medium.WOFF") format("woff")
}

@font-face {
    font-family: "Raleway-Semibold";
    src:
        url("/fonts/raleway/Raleway-SemiBold.WOFF") format("woff")
}

@font-face {
    font-family: "Raleway-Regular";
    src:
        url("/fonts/raleway/Raleway-Regular.WOFF") format("woff")
}

@font-face {
    font-family: "Raleway-Light";
    src:
        url("/fonts/raleway/Raleway-Light.WOFF") format("woff")
}

@font-face {
    font-family: "FiraMono-Bold";
    src:
        url("/fonts/fira_mono/FiraMono-Bold.ttf") format("truetype")
}

@font-face {
    font-family: "FiraMono-Medium";
    src:
        url("/fonts/fira_mono/FiraMono-Medium.ttf") format("truetype")
}

@font-face {
    font-family: "FiraMono-Regular";
    src:
        url("/fonts/fira_mono/FiraMono-Regular.ttf") format("truetype")
}

$arial: "Arial";
$arial-black: "Arial Black";
$firamono-regular: "FiraMono-Regular";
$firamono-bold: "FiraMono-Bold";
$firamono-med: "FiraMono-Medium";
$raleway-med: "Raleway-Medium";
$raleway-semibold: "Raleway-Semibold";
$raleway-regular: "Raleway-Regular";
$raleway-light: "Raleway-Light";
