@media screen and (min-width: $mobile) {
  body.post-index {
    @include header-navigation;
    @include paginated-posts-nav;

    nav {
      @include top-navigation;
      background-size: auto 43em;
      flex-direction: row;
      justify-content: space-between;

      .blog-title {
        @include top-navigation-title;
        display: inline;
      }
    }

    background-color: $off-white;
    background-image: none;
    margin: 0;
    .container {
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }

    p.alert {
      display: none;
    }

    main {
      .posts {
        padding: 0.8em;
      }

      .post-list {
        padding: 0;
        list-style-type: none;
        
      }

      .post-list-item {
        padding-bottom: 1.5em;
        a.header-link {
          font-family: $arial-black, sans-serif;
          text-decoration: none;
          text-align: center;
          &:visited, &:active, &:link, &:hover {
            color: $eggshell-white;
          }  

          &:hover {
            h2.title {
              background-color: rgba(100, 100, 100, 0.6);
            }
          }
        }

        header {
          @include post-image-header(10em);
        }

        h2.title {
          @include post-image-title(1.3em)
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 0.5s;
        }

        .post-brief {
          padding: 0.6em;
          font-family: $raleway-light;
        }

        .post-brief-text {
          iframe#ytplayer {
            display: block;
            margin: 1em auto;
          }

          a {
            &:link, &:active, &:hover, &:visited {
              color: $dark-gray;
            }
          }
        }
      
        p.publish_date {
          margin-top: 0;
          margin-bottom: 0;
          font-family: $raleway-semibold, sans-serif; 
        }

        .body {
          overflow: hidden;
          position: relative; 
          line-height: 1.2em;
          max-height: 7em; 
          padding-right: 1em;
          padding-left: 1em;
        }

        p.read-more, p.edit, p.delete {
            text-align: right;
          a {
            font-family: $raleway-semibold, sans-serif;
            text-decoration: none;
            font-size: 1.2em;
            &:visited, &:active, &:link, &:hover {
              color: $cerulean;
            }
          }
        }
      }  
    }
  }
}
