@media screen and (min-width: $tablet){
  body.post-index {
    nav {
      background-size: auto 85em;
    }

    main .posts {
      .post-list {
        display: flex;
        flex-direction: column;
        align-items: center;

        .post-list-item {
          width: 90%;
        }
      }
    }
  }
}
