{
    "presets": ["@babel/preset-env"],
    "plugins": [
        ["prismjs", {
            "languages": [
                "javascript",
                "swift",
                "css",
                "sql",
                "http",
                "jsx",
                "sass",
                "scss",
                "markup",
                "yaml",
                "erlang",
                "elixir",
                "python",
                "go",
                "regex",
                "bash"
            ],
            "plugins": ["line-numbers"],
            "theme": "tomorrow",
            "css": true
        }]
    ]
}
