{
    "presets": ["@babel/preset-env"],
    "plugins": [
        ["prismjs", {
            "languages": [
                "bash",
                "css",
                "elixir",
                "erlang",
                "go",
                "graphql",
                "haml",
                "http",
                "javascript",
                "json",
                "jsx",
                "markup",
                "plsql",
                "python",
                "regex",
                "ruby",
                "sass",
                "scss",
                "sql",
                "swift",
                "yaml"
            ],
            "plugins": ["line-numbers"],
            "theme": "tomorrow",
            "css": true
        }]
    ]
}
